.wrapper {
    width: 85%;
    height: 100%;
    margin: auto;
    center-align;
    background-color: #2482b5;
}

.sidebar {
    position: absolute;
    width: 230px;
    height: 100%;
    background-color: #222d32;
    color: #333;
}

.sidebar a {
    color: #b8c7ce;
}

.nav-button {
    padding: 12px 5px 12px 15px;
    display: block;
    text-decoration: none;
}

.nav-button a {
    text-decoration: none;
}

.body-section {
    background-color: #f5f9fa;
    height: 100%;
    width: 100%;
    margin-bottom: -30px;
}

.main-container {
    width: 400px;
    height: 300px;
    float: right;
    margin: 10px 20px 10px 20px;
    background-color: green !important;
}

.content-row {
    align-items: right;
}

li:hover{
    color: #fff;
    background: #1e282c;
    border-left-color: #3c8dbc;
}

#logo {
    margin: 0;
    padding-top: 10px;
    text-align: center;
}

#logo-container {
    display: block;
    width: 230px;
}

#nav-title {
    margin: 0;
    padding: 10px 25px 10px 15px;
    color: #4b646f;
    background: #1a2226;
    font-size: 12px;
}

#footer-centre {
    margin-left:250px;
    margin-top: 5px;
}

#footer-right {
    float: right;
    margin-top: 5px;
    margin-right: 5px;

}

header {
    height: 50px;
}

footer {
    height: 30px;
    background-color: #2482b5;
    color: #cbd0d6;
    text-decoration: none;
}

html, body {
  height: 100%;
  background-color: #c4cbcf;
  margin: 0 !important;
  padding: 0 !important;
}