<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pymon Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
</head>
<body>
    <div class="wrapper">
        <div class="nav_section">
            <div class="nav_header">
                <h1>Pymon</h1>
            </div>
            <div class="nav_body">
                <h3>Main Navigation</h3>

            </div>
        </div>
        <div class="body_section"></div>
    </div>
</body>
</html>