<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pymon Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/style.css') }}"/>
</head>
<body>
    <div class="wrapper">
        <header>
            <span id="logo-container">
                <h1 id="logo">Pymon</h1>
            </span>
        </header>
        <aside class="sidebar">
            <h3 id="nav-title">Main Navigation</h3>
            <div class="nav-body">
                <li class="nav-button">
                    <a href="/home">Home</a>
                </li>

                <li class="nav-button">
                    <a href="/sysinfo">System Info</a>
                </li>

                <li class="nav-button">
                    <a href="/cpu">Cpu</a>
                </li>

                <li class="nav-button">
                    <a href="/memory">Memory</a>
                </li>

                <li class="nav-button">
                    <a href="/disk">Disk</a>
                </li>

                <li class="nav-button">
                    <a href="/network">Network</a>
                </li>

                <li class="nav-button">
                    <a href="/processes">processes</a>
                </li>
            </div>
        </aside>
        <div class="body-section">
            <div class="content-row">
                <div class="main-container"></div>
                <div class="main-container"></div>
            </div>
            <div class="content-row">
                <div class="main-container"></div>
                <div class="main-container"></div>
            </div>
        </div>
        <footer>
            <a id="footer-centre">Find the Pymon project on <a href="https://github.com/JamieCoupe/pymon"> GitHub</a></span>
            <span id="footer-right">Created by Jamie Coupe 2020</span>
        </footer>
    </div>
</body>
</html>